@model List<OrderViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="text-center" style="margin: 10px">
    <a class="btn btn-primary" asp-action="CreateOrder" asp-controller="Home">Создать заказ</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя пользователя</th>
            <th scope="col">Номер заказа</th>
            <th scope="col">Дата доставки</th>
            <th scope="col">Адрес доставки</th>
            <th scope="col">Сумма заказа</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@Model[i].Username</td>
                <td>@Model[i].SerialNumber</td>
                <td>@Model[i].DeliveryDate</td>
                <td>@Model[i].DeliveryAddress</td>
                <td>@Model[i].Products.Sum(x => x.Count * x.Price)</td>
                <td scope="row"><a class="btn btn-danger" asp-action="DeleteOrder" asp-controller="Home" asp-route-orderId="@Model[i].Id">&times;</a></td>
                <td scope="row"><a class="btn btn-danger" asp-action="EditOrder" asp-controller="Home" asp-route-orderId="@Model[i].Id">&hellip;</a></td>
            </tr>
        }
    </tbody>
</table>